
.prosuct-main {
    max-width: 1200px;
    margin: 20px;
    text-align: center;

}
.pp{
    font-size: 15px;
    color: #ff7f50;
    margin-bottom: 20px;
    text-align: center;

}

.product-description {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    transition: transform .3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h2 {
    font-size: 1.5em;
margin-right: 200px;
}

.product .rating {
    color: #ffa500;
    font-size: 15px;
    margin: 1px 0px;
    padding-left: 70%;
}

.product .price {
    font-size: 15px;
    color: #333;
    margin: 1px 0;
    padding-left: 70%;
    font-weight: bold;
}

.card{
    background-color: #ff7f50;
    font-size: 15px;
    margin: 0px 250px;
    margin-left: 15px;
    text-align: center;
    align-content: center;
    color: #fff;
    border: none;
    border-radius: 5px ;
    padding: 0px 20px;
    cursor: pointer;
    padding-right: 20px;
    transition: background-color 0.3s;
}

.more-products {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px 600px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding-left: 30px;
    transition: background-color 0.3s;
}

.more-products:hover {
    background-color: #e76b3b;
}
